{% extends "base_generic.html" %}
{% load static %}
{% block title %}
    {% if category %}{{ category.title }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}
<div class="content-menu-page">
        <div class="image">
            <a href="index.html"><img src="{% static 'images/logo-standalone.png' %}" alt="Split-logo" style="width: 100px; height: auto"></a>
        </div>
        <div class="social social-disappear">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-telegram"></i>
        </div>
        <div class="reserve">
            <a href=""><i class="fas fa-phone"></i> +38(077)-77-77-777 Reserve</a>
            {% if user.is_authenticated %}
                <a href="{% url 'dish_list' %}"><i class="fas fa-shopping-basket"></i> Order online</a>
            {% endif%}
        </div>
    <div class="product-detail">
        <img src="{% if dish.image %}{{ dish.image.url }}{% else %}{% static 'images/1.png' %}{% endif %}" style="width: 30%">
        <h1>{{ dish.name }}</h1>
        <h2><a href="{{ dish.category.get_absolute_url }}">{{ dish.category }}</a></h2>
        <p class="price">${{ dish.price }}</p>
        <form action="{% url 'cart_add' dish.id %}" method='POST'>
            {% csrf_token %}
            {{ cart_product_form.as_p }}
            <input type="submit" value="Add to cart">
        </form>
    </div>
</div>
{% endblock %}